body{
  margin: 0;
  padding: 0;
  background: black;
}

.main{
position: relative;
top: 200px;
text-align: center;
}

h1, h2{
  font-family: monospace;
  color: white;
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
}

button{
  position: relative;
  margin: 0;
  padding: 0;
  background:linear-gradient(#D81B60, #C62828);
  height: 40px;
  width: 100px;
  top: 30px;
  border-radius: 3px;
  border-style: none;
}
h1{
  font-size: 30px;
}

h2{
  font-size: 14px;
}

h3{
  font-size: 18px;
  margin-top: 40px;
}

@media (max-width: 360px) {
  .main{
    top: 220px;
  }
}
